{% extends "base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}

<div class="profile-card">

    <h1>✏ Edit Profile</h1>

    <form method="POST">

        <label>Name</label><br>
        <input
            type="text"
            name="name"
            value="{{ user[0] }}"
            required
        ><br><br>

        <label>Email</label><br>
        <input
            type="email"
            name="email"
            value="{{ user[1] }}"
            required
        ><br><br>

        <button type="submit">
            Save Changes
        </button>

    </form>

</div>

{% endblock %}